.form-box {
    font-family: poppins;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

.form-container {

    box-sizing: border-box;
    width: 500px;

    padding: 42px;
    margin-top: 80px;
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    box-shadow: -10px 10px 3px 4px rgba(255, 224, 179, 1);
    -webkit-box-shadow: -10px 10px 3px 4px rgba(255, 224, 179, 1);
    -moz-box-shadow: -10px 10px 3px 4px rgba(255, 224, 179, 1);
}

.Login-title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;

    letter-spacing: 0.0025em;

    color: #2A414F;

}

.input-filed {
    margin-bottom: 10px;
    width: 400px;
    height: 55px;
    color: #2c2c2c;
    font-size: 20px;
    font-weight: 500 !important;
    padding: 0px 10px;
    background-color: transparent;
    border: 1px solid #a4b9c7;
    border-radius: 5px;
}

.sign-in-btn button{
    color: #0E161A;
    font-size: 22px;
    width: 415px;
    height: 55px;
    border: none;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
}


.login-btn{
    margin-bottom: 40px;
}
.login-btn a{
    text-decoration: none;
    color: #FF9900;
}
.google-submit {
    display: flex;
    justify-content: center;
    color: #0E161A;
    width: 415px;
    height: 55px;

    background: transparent;
    border: 1px solid #a4b9c7;
    border-radius: 5px;
    margin-bottom: 20px;
}

.google-submit img {
    width: 35px;
    padding-right: 15px;
}

.google-btn-text {
    padding-top: 8px;
}

.google-submit:hover {
    background-color: rgba(255, 153, 0, 0.2);
    border: none;
}

.login-error{
    color: rgb(255, 21, 21);
}

.success-msg{
    text-align: center;
    font-size: 18px;
    color: rgb(0, 246, 70);
}

.show-pass{
    color: #2c2c2c;
    border: none;
    background-color: transparent;
  margin-top: -50px;
    margin-left: 300px;
    padding-bottom: 40px;
}